.content-box {
    display: flex; 
    flex-direction: column;
    align-items: center;
    padding: 2%;
}

.ship-outer-box {
    display: flex;
    justify-content: center;
    gap: 10%;
}

.ship-buttons {
    flex: 1;
    display:flex;
    flex-direction: column;
    gap: 2%;

    & button {
        padding: 10px 20px;
    }

    & .confirm-button {
        margin-top: auto;
    }
}

.cell-box {
    display: grid;
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(10, 50px);
    gap: 2px;
    flex: 5; 
    align-items: center;
    justify-content: center;
}

.cell {
    width: 50px;
    height: 50px;
    border: 0; 
}


.cell[data-id="0"] {
    background-color: purple;
}

.cell[data-id="1"] {
    background-color: lightsalmon;
}

.cell[data-id="2"] {
    background-color: yellow;
}

.cell[data-id="3"] {
    background-color: pink;
}

.cell[data-id="4"] {
    background-color: blue;
} 

.staged {
    background-color: grey;
}

.hover-valid {
    border: 5px solid green;
}

.hover-invalid {
    border: 5px solid red;
}

.battle-box {
    display: flex;
    gap: 30px;
}

.hit {
    border: 12px solid red;
}

.cell.sunk {
    background-color: black;
}

.missed {
    border: 12px solid green;
}

.player-turn {
    opacity: 0.8; 
}

.enemy-turn {
    opacity: 0.5;
}

.my-turn {
    opacity: 0.5;
}

:not(.enemy-content.my-turn .cell) {
    cursor: pointer;
}